[submodule "code/containers"]
	path = code/containers
	url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds002837
	datalad-id = ce664a0c-9c14-11ea-8675-8a0735a5500b
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds002837
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
[submodule "code/tacc-openneuro"]
	path = code/tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "sourcedata/templateflow/tpl-Fischer344"]
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow/tpl-Fischer344
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "sourcedata/templateflow/tpl-fsaverage"]
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow/tpl-fsaverage
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "sourcedata/templateflow/tpl-fsLR"]
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow/tpl-fsLR
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "sourcedata/templateflow/tpl-MNI152Lin"]
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow/tpl-MNI152Lin
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "sourcedata/templateflow/tpl-MNI152NLin2009aAsym"]
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow/tpl-MNI152NLin2009aAsym
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "sourcedata/templateflow/tpl-MNI152NLin2009aSym"]
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow/tpl-MNI152NLin2009aSym
